*{
    margin: 0px;
    padding: opx;
}

body{
   background-color: slateblue; 
   font-size: 10px;
}
#Caja_1{
    background-color: snow;
    font-size: 2em;
    height: 300px;
}
#Caja_1 > .Cajas > p{
    font-size: 2em;

}
#Caja_2{
    background-color: thistle;
}
.Cajas{
    background-color: violet;
    width: 20%;
    height: 200px;
    /*border: 2px solid black;*/
    margin-left: 4%;
    margin-top: 20px;
    float: left;
}

#nuevo{
    width: 90%;
    height: 50px;
    border: 2px dashed wheat;
}

#span{
    width: 100%;
    height: 50px;
    background-color: blue;
    font-size: 10em;
    display: block;

}