*{
    margin: 0px;
    padding: 0px;

}

body{
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Do Hyeon', sans-serif;
}
h1{
    font-size: 2rem; /*relativo segun la pantalla*/
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
header{
    position: fixed;
    height: 70px;
    border-bottom: 1px solid rgb(119, 103, 9);
    width: 100%;
    background-color: whitesmoke;
}

header > #logo{
    padding-top: 15px;
    float: left;
    margin-left: 5%;
}
header > #logo > h2{
    font-size: 1.5rem;
}

header > nav{
    font-size: 1rem;
    float: right;
    width: 40%;
    padding-top: 25px;
}

header nav > ul >li{
    float: left;
    width: 20%;
    list-style: none;
}
header nav > ul >li >a{
    text-decoration: none;
    color: rgb(49, 45, 45);
    text-transform: uppercase;
    font-weight: 400;
}

header nav > ul >li >a:hover{
    text-decoration: underline;
    transition: 1s ease-in all;
}

section#main{
    min-height: 500px;
    background-color: burlywood;
    margin-top: 70px;
    width: 100%;
    float: left;
}

section#main h1{
    margin-top: 150px;
    text-align: justify;
    margin-left: 100px;
}

section#main h4{
    text-align: justify;
    font-weight: lighter;
    font-size: 1.2rem;
    margin-left: 100px;
    width: 50%;
}
.col{
    width: 50%;
    float: left;
}

section#main .bola{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: rgb(212, 126, 14);
    float: right;
    margin-right: -100px;
}

section#main .bola img{
    width: 500px;
    display: block;
    margin-top: 0px;
    margin-left: -60px;
    transform: rotate(-30deg);
}

#numeros{
    border-left: 10px solid rgb(212, 126, 14);
    width: 100%;
    height: 150px;
    margin-top: 50px;
    
}


#numeros >div >.col > h5{
    font-size: 1.5rem;
    font-weight: lighter;
}

#numeros >div >.col:last-child{
    font-size: 1rem;
    font-weight: lighter;
}
#numeros >div >.col:first-child{
    font-size: 1rem;
    font-weight: lighter;
}
#news, #contact{
    margin-left: 90px;
    width: 90%;
    min-height: 300px;
    display: block;
    
}
#news > .col3{
    float: left;
    width: 25%;
    height: 200px;
    margin-left: 8%;

}
#news .col3 a img{
    width: 100%;
    height: 100%;
}


#news .col3 a{
    text-decoration: none;
    color: 1d1d1d;

}

#contact h2{
    margin-top: 300px;
}
#contact fieldset{
    border: none;
    padding:5px;

}

#contact fieldset label{
    display: block;
    width: 100%;
}

#contact fieldset input, #contact fieldset textarea{
    display: block;
    width: 90%;
    border: 1px solid #eeeeee;
    padding: 5px;
    outline-color: gray;
    height: 30px;
}

#contact fieldset button{

    width: 150px;
    height: 30px;
    padding: 5px;
    background-color: rgb(119, 103, 9);
    color: white;
    border: none;
}

footer{
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 70px;
    background-color: rgb(119, 103, 9);

}